@import '../variables';

.EventMap {

  height: calc(100vh - 350px);
  width: 100%;
  min-height: 300px;

  .marker {
    color: var(--bs-primary);
    font-size: 1rem;
    cursor: pointer;
    transition: color 200ms;

    &:hover {
     color: $link-hover-color;
    }
  }

  .cluster {
    border-radius: 50%;
    background-color: rgba(var(--bs-primary-rgb), 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bs-dark);
    cursor: pointer;
    transition: background-color 200ms;

    &:hover {
      background-color: rgba($link-hover-color, 0.8);
    }
  }

  .popup {
    .mapboxgl-popup-tip {
      border-bottom-color: $primary;
    }

    .mapboxgl-popup-content {
    background-color: rgba(var(--bs-primary-rgb), 0.8);
      color: $dark;

      .title {
        font-weight: bold;
      }
    }
  }

  .zoomControl{
    left: 20px;
    top: 20px;
  }

  .zoomControl button{
    background-color: rgba($primary, .7)!important;
  }

}
