.Header {
  background-color: var(--primary);

  .navbar-brand {
    color: var(--dark);
    font-family: var(--font-family-titles);
    font-weight: 900;
  }

  .navbar-nav .nav-link {
    color: var(--dark);

    &:hover, &:focus, &.active {
      color: var(--dark);
      font-weight: bold;
    }
  }
}
