@import '../variables';

.Header {
  background-color: $primary;

  .navbar-brand {
    color: $dark;
    font-family: $font-family-titles;
    font-weight: 900;
  }

  .navbar-nav .nav-link {
    color: $dark;

    &:hover, &:focus, &.active {
      color: $dark;
      font-weight: bold;
    }
  }
}
