.TimelineEventCard {

  //margin-left: 50px;

  .thumbnails {
    flex: 0 0 174px;

    a {
      margin-bottom: 5px;
      position: relative;
      display: block;

      img {
        width: 100%;
        transition: all 0.5s;
        -webkit-filter: brightness(80%);
        -moz-filter: brigtness(80%);
        -ms-filter: brightness(80%);
        filter: brightness(80%);
      }

      &:hover {
        img {
          -webkit-filter: brightness(100%);
          -moz-filter: brightness(100%);
          -ms-filter: brightness(100%);
          filter: brightness(100%);
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border: 8px solid var(--bs-primary);
        }
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .caption {
      margin-bottom: 0.75em;
    }

    .linkbar {
      font-size: 0.75rem;

      a {
        padding-right: 1rem;
      }

      .date {
        text-transform: uppercase;
      }
    }
  }
}
