@import '../variables';

.Collection {

  .position-sticky {
    z-index: 1;
    top: 65px;
    position: sticky;
    background-color: $light;
  }

  .media-type-facet .nav-link.active {
    color: $link-hover-color;
  }
}
