@import '../variables';

.Person {

  font-weight: bold;

  .position-sticky {
    z-index: 100;
    top: 65px;
    position: sticky;
    background-color: $light;
  }

  .label {
    color: $secondary;
    font-weight: bold;
  }
}
