@import '../variables';

.Person {

  .position-sticky {
    z-index: 100;
    top: 65px;
    position: sticky;
    background-color: $light;
  }

  h2 {
    color: var(--bs-secondary);
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.5;
    text-transform: uppercase;
  }

  .media {
    text-align: center;

    img {
      width: 100%;
      display: block;
      border: 8px solid var(--bs-primary);
      margin-top: 2rem;
    }
  }
}
